# 0.IMPORTS

## 0.1. Importing libraries

In [1]:
import pandas as pd
import math

## 0.2. Loading data

In [3]:
stores         = pd.read_csv('test-hackday-7/stores.csv', low_memory=False)
train          = pd.read_csv('test-hackday-7/train.csv', low_memory=False)
train_features = pd.read_csv('test-hackday-7/train_features.csv', low_memory=False)

#test = pd.read_csv('datasets/test.csv', low_memory=False)
#test_features = pd.read_csv('datasets/test_features.csv', low_memory=False)

In [4]:
train_features.head()

,loja,data,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,feriado,distancia_competidores,clientes
0,4,01-07,4.077778,2.980,NaN,NaN,NaN,NaN,NaN,0.06510,nao,NaN,216
1,32,01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.08818,nao,NaN,3
2,1,01-07,9.038889,2.976,NaN,NaN,NaN,NaN,NaN,0.07742,nao,NaN,160
3,7,01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.08818,nao,NaN,739
4,43,01-07,4.705556,NaN,NaN,NaN,NaN,NaN,NaN,0.10398,nao,NaN,998

## 0.3. Helper functions

In [5]:
# Função para renomear as colunas do dataframe
def rename_columns(cols):
    cols = list(map(lambda x: inflection.titleize(x), cols))
    cols = list(map(lambda x: x.replace(" ", ""), cols))
    cols = list(map(lambda x: x.replace(".", ""), cols))
    cols = list(map(lambda x: inflection.underscore(x), cols))
    return cols

# Função que retorna uma tabela de únicos e suas respectivas quantidades
def tab_unique(df):
    tab_unicos = pd.DataFrame(df.nunique())
    tab_unicos.columns= ['count']
    tab_unicos['content'] = df.apply(lambda x: x.unique())
    return tab_unicos

## 0.4. Dicionário de dados

# 1. DATA DESCRIPTION

## 1.1. Unir tabelas

In [6]:
df = pd.merge(train, stores, on='loja', how='inner')

In [7]:
df1 = pd.merge(df, train_features, on=['loja', 'data', 'feriado'], how='inner')

## 1.2. Data Dimensions

In [8]:
df1.head()

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
0,140679,17,93,01-07,6283.00,nao,eletronico,93188.0,-14.316667,2.891,NaN,NaN,NaN,NaN,NaN,0.06866,NaN,541
1,140696,17,16,01-07,1641.25,nao,eletronico,93188.0,-14.316667,2.891,NaN,NaN,NaN,NaN,NaN,0.06866,NaN,541
2,140701,17,4,01-07,39775.45,nao,eletronico,93188.0,-14.316667,2.891,NaN,NaN,NaN,NaN,NaN,0.06866,NaN,541
3,140733,17,14,01-07,29555.43,nao,eletronico,93188.0,-14.316667,2.891,NaN,NaN,NaN,NaN,NaN,0.06866,NaN,541
4,140742,17,48,01-07,414.00,nao,eletronico,93188.0,-14.316667,2.891,NaN,NaN,NaN,NaN,NaN,0.06866,NaN,541

In [9]:
print('Quantidade de linhas: {:,}'.format(df1.shape[0]))
print('Quantidade de colunas: {:,}'.format(df1.shape[1]))

Quantidade de linhas: 135,385
Quantidade de colunas: 18

## 1.3. Check NA's

In [10]:
df1.isna().sum()

id                             0
loja                           0
setor                          0
data                           0
vendas_semanais            12862
feriado                        0
tipo                           0
tamanho                    33327
temperatura                47945
combustivel                52989
desconto_1                129459
desconto_2                129510
desconto_3                129746
desconto_4                130184
desconto_5                129459
desemprego                     0
distancia_competidores    129459
clientes                       0
dtype: int64

In [11]:
stores.isna().sum()

loja        0
tipo        0
tamanho    11
dtype: int64

In [12]:
stores['loja'].nunique()

45

## 1.4. Data Types

## 1.5. Check duplicated

## 1.6. Datetime

# 2. TRATAMENTO E FEATURE ENGINEERING

In [13]:
df2 = df1.copy()

## 2.1. Criação das Hipóteses

## 2.2. Transformar e converter

### 2.2.1. Excluir os registros com vendas semanais nula

In [14]:
reg_faltantes = df2.loc[df2['vendas_semanais'].isna(), :].index
df2.drop(reg_faltantes, axis=0, inplace=True)

In [15]:
df2.reset_index(inplace=True,drop=True)
df2.tail()

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
122518,275307,33,90,11-18,23462.71,nao,eletrodomestico,39690.0,NaN,3.669,86.59,6.0,NaN,NaN,3220.86,0.0801,1952.0,156
122519,275374,33,96,11-18,10445.16,nao,eletrodomestico,39690.0,NaN,3.669,86.59,6.0,NaN,NaN,3220.86,0.0801,1952.0,156
122520,275387,33,95,11-18,25464.21,nao,eletrodomestico,39690.0,NaN,3.669,86.59,6.0,NaN,NaN,3220.86,0.0801,1952.0,156
122521,275397,33,98,11-18,7730.53,nao,eletrodomestico,39690.0,NaN,3.669,86.59,6.0,NaN,NaN,3220.86,0.0801,1952.0,156
122522,275405,33,97,11-18,4665.16,nao,eletrodomestico,39690.0,NaN,3.669,86.59,6.0,NaN,NaN,3220.86,0.0801,1952.0,156

### 2.2.2. Preencher os descontos com valores nulos com 0

In [16]:
df2['desconto_1'] = df2['desconto_1'].fillna(0)
df2['desconto_2'] = df2['desconto_2'].fillna(0)
df2['desconto_3'] = df2['desconto_3'].fillna(0)
df2['desconto_4'] = df2['desconto_4'].fillna(0)
df2['desconto_5'] = df2['desconto_5'].fillna(0)

### 2.2.3. Preencher o tamanho das lojas faltantes com a mediana

In [17]:
mediana = df2['tamanho'].median()
mediana

128107.0

In [18]:
tam_faltantes = df2.loc[df2['tamanho'].isna(), :].index

In [19]:
%%time
df2['tamanho'] = df2['tamanho'].apply(lambda x: mediana if math.isnan(x) else x)

CPU times: total: 46.9 ms
Wall time: 53 ms

In [20]:
df2.iloc[tam_faltantes, :]

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
5656,140681,3,25,01-07,2658.57,nao,eletronico,128107.0,11.861111,NaN,0.00,0.00,0.0,0.00,0.0,0.07551,NaN,901
5657,141029,3,20,01-07,1358.81,nao,eletronico,128107.0,11.861111,NaN,0.00,0.00,0.0,0.00,0.0,0.07551,NaN,901
5658,141077,3,34,01-07,3280.50,nao,eletronico,128107.0,11.861111,NaN,0.00,0.00,0.0,0.00,0.0,0.07551,NaN,901
5659,141106,3,23,01-07,6530.88,nao,eletronico,128107.0,11.861111,NaN,0.00,0.00,0.0,0.00,0.0,0.07551,NaN,901
5660,141169,3,19,01-07,3113.76,nao,eletronico,128107.0,11.861111,NaN,0.00,0.00,0.0,0.00,0.0,0.07551,NaN,901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120630,274985,11,71,11-18,9419.43,nao,eletrodomestico,128107.0,NaN,NaN,10941.05,222.94,263.1,404.05,8885.3,0.07197,17997.0,953
120631,274997,11,67,11-18,9790.06,nao,eletrodomestico,128107.0,NaN,NaN,10941.05,222.94,263.1,404.05,8885.3,0.07197,17997.0,953
120632,275011,11,79,11-18,26994.74,nao,eletrodomestico,128107.0,NaN,NaN,10941.05,222.94,263.1,404.05,8885.3,0.07197,17997.0,953
120633,275018,11,74,11-18,18686.63,nao,eletrodomestico,128107.0,NaN,NaN,10941.05,222.94,263.1,404.05,8885.3,0.07197,17997.0,953
120634,275024,11,72,11-18,70158.58,nao,eletrodomestico,128107.0,NaN,NaN,10941.05,222.94,263.1,404.05,8885.3,0.07197,17997.0,953

### 2.2.4. Preencher a temperatura faltantes usando a média

In [21]:
media = df2['temperatura'].mean()
media

15.71788135260333

In [22]:
temp_faltantes = df2.loc[df2['temperatura'].isna(), :].index

In [23]:
%%time
df2['temperatura'] = df2['temperatura'].apply(lambda x: media if math.isnan(x) else x)

CPU times: total: 62.5 ms
Wall time: 56 ms

In [24]:
df2.iloc[temp_faltantes, :]

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
130,146595,17,6,01-21,4548.82,nao,eletronico,93188.0,15.717881,2.934,0.00,0.0,0.0,0.0,0.00,0.06866,NaN,422
131,146907,17,1,01-21,16137.30,nao,eletronico,93188.0,15.717881,2.934,0.00,0.0,0.0,0.0,0.00,0.06866,NaN,422
132,146975,17,2,01-21,39712.80,nao,eletronico,93188.0,15.717881,2.934,0.00,0.0,0.0,0.0,0.00,0.06866,NaN,422
133,146986,17,3,01-21,16762.49,nao,eletronico,93188.0,15.717881,2.934,0.00,0.0,0.0,0.0,0.00,0.06866,NaN,422
134,147010,17,4,01-21,22773.89,nao,eletronico,93188.0,15.717881,2.934,0.00,0.0,0.0,0.0,0.00,0.06866,NaN,422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122518,275307,33,90,11-18,23462.71,nao,eletrodomestico,39690.0,15.717881,3.669,86.59,6.0,0.0,0.0,3220.86,0.08010,1952.0,156
122519,275374,33,96,11-18,10445.16,nao,eletrodomestico,39690.0,15.717881,3.669,86.59,6.0,0.0,0.0,3220.86,0.08010,1952.0,156
122520,275387,33,95,11-18,25464.21,nao,eletrodomestico,39690.0,15.717881,3.669,86.59,6.0,0.0,0.0,3220.86,0.08010,1952.0,156
122521,275397,33,98,11-18,7730.53,nao,eletrodomestico,39690.0,15.717881,3.669,86.59,6.0,0.0,0.0,3220.86,0.08010,1952.0,156
122522,275405,33,97,11-18,4665.16,nao,eletrodomestico,39690.0,15.717881,3.669,86.59,6.0,0.0,0.0,3220.86,0.08010,1952.0,156

### 2.2.5. Preencher os registros com combustível faltantes usando a média

In [25]:
media = df2['combustivel'].mean()
media

3.597346738386832

In [26]:
comb_faltantes = df2.loc[df2['combustivel'].isna(), :].index

In [27]:
%%time
df2['combustivel'] = df2['combustivel'].apply(lambda x: media if math.isnan(x) else x)

CPU times: total: 62.5 ms
Wall time: 62 ms

In [28]:
df2.iloc[comb_faltantes, :]

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
382,158299,17,24,02-18,3652.300000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,NaN,956
383,158421,17,20,02-18,3273.070000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,NaN,956
384,158480,17,58,02-18,1200.000000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,NaN,956
385,158538,17,18,02-18,10202.870000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,NaN,956
386,158602,17,19,02-18,4271.550000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,NaN,956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122146,249134,33,5,09-16,110.000000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,NaN,685
122147,249156,33,9,09-16,41.780000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,NaN,685
122148,249248,33,81,09-16,887907.904893,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,NaN,685
122149,249292,33,90,09-16,25796.820000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,NaN,685
122150,249446,33,8,09-16,3746.370000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,NaN,685

### 2.2.6. Preencher os registros com distancia faltantes usando um número grande

In [29]:
comp_faltantes = df2.loc[df2['distancia_competidores'].isna(), :].index

In [30]:
%%time
df2['distancia_competidores'] = df2['distancia_competidores'].apply(lambda x: 300000 if math.isnan(x) else x)

CPU times: total: 93.8 ms
Wall time: 96.1 ms

In [31]:
df2.iloc[comb_faltantes, :]

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
382,158299,17,24,02-18,3652.300000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,956
383,158421,17,20,02-18,3273.070000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,956
384,158480,17,58,02-18,1200.000000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,956
385,158538,17,18,02-18,10202.870000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,956
386,158602,17,19,02-18,4271.550000,nao,eletronico,93188.0,-2.855556,3.597347,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122146,249134,33,5,09-16,110.000000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,300000.0,685
122147,249156,33,9,09-16,41.780000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,300000.0,685
122148,249248,33,81,09-16,887907.904893,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,300000.0,685
122149,249292,33,90,09-16,25796.820000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,300000.0,685
122150,249446,33,8,09-16,3746.370000,nao,eletrodomestico,39690.0,29.883333,3.597347,0.0,0.0,0.0,0.0,0.0,0.08442,300000.0,685

### 2.2.7. Transformação de tipos

In [32]:
df2.dtypes

id                          int64
loja                        int64
setor                       int64
data                       object
vendas_semanais           float64
feriado                    object
tipo                       object
tamanho                   float64
temperatura               float64
combustivel               float64
desconto_1                float64
desconto_2                float64
desconto_3                float64
desconto_4                float64
desconto_5                float64
desemprego                float64
distancia_competidores    float64
clientes                    int64
dtype: object

In [ ]:
data
feriado
tipo

### 2.3.8. Transformar data

In [47]:
df3 = df2.copy()

In [48]:
# Converter a coluna 'data' para datetime
df3['data'] = pd.to_datetime(df3['data'] + '-2023', format='%m-%d-%Y')
# Criar uma nova coluna 'semana_do_ano'

In [46]:
df3.head()

,id,loja,setor,data,vendas_semanais,feriado,tipo,tamanho,temperatura,combustivel,desconto_1,desconto_2,desconto_3,desconto_4,desconto_5,desemprego,distancia_competidores,clientes
0,140679,17,93,2023-01-07,6283.00,nao,eletronico,93188.0,-14.316667,2.891,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,541
1,140696,17,16,2023-01-07,1641.25,nao,eletronico,93188.0,-14.316667,2.891,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,541
2,140701,17,4,2023-01-07,39775.45,nao,eletronico,93188.0,-14.316667,2.891,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,541
3,140733,17,14,2023-01-07,29555.43,nao,eletronico,93188.0,-14.316667,2.891,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,541
4,140742,17,48,2023-01-07,414.00,nao,eletronico,93188.0,-14.316667,2.891,0.0,0.0,0.0,0.0,0.0,0.06866,300000.0,541

### 2.3.9. Transformar feriado em 0 e 1

## 2.3. Criar

# 3. EXPLORATORY DATA ANALYSIS (EDA)

## 3.1. Análise Multivariada

### 3.1.1. Profile

### 3.1.2. HeatMap

In [ ]:
# Criar o mapa de calor
corr = df3.corr(method='pearson')
fig, ax = plt.subplots(figsize=(16, 11))

# Configura o título e os eixos
ax.set_title('Mapa de calor', fontsize=25)
ax.set_xticklabels(ax.get_xticklabels(), fontsize=15)
ax.set_yticklabels(ax.get_yticklabels(), fontsize=15)

# Plota e mostra o gráfico
ax = sns.heatmap(corr, annot=True, cmap='Reds', ax=ax)
plt.show()

# 4. DATA PREPARATION

# 5. FEATURE SELECTION

## 5.1. Split dataframe into training and test

# 6. MACHINE LEARNING MODELING

## 6.1. Treinar, testar e medir

## 6.2. Validar métricas

# 7. ERROR TRANSLATION AND INTERPRETATION

# 8. DEPLOY / SUBMISSION